.language-boxes{
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px; /* Встановлює розмір шрифту */
  padding: 0 10px 0 10px; /* Внутрішній відступ для тексту */
  min-width: 100px; /* Мінімальна ширина для рівності коробок */
 // margin: 5px 10px 0 10px; /* Відстань між коробками */
}

.language {
  border: 3px solid black;
  padding: 20px 20px 20px 20px; /* відступи всередині коробки */
  margin: 5px; /* відступи між коробками */
  min-width: 100px; /* мінімальна ширина */
  text-align: center; /* вирівнювання тексту по центру */
}

.main-i{
  margin: 0 10px 18px 0; /* Відступ праворуч та знизу від іконки */
}
