.language-boxes {
  display: flex; /* Використовуємо flex для вирівнювання елементів в рядок */
  flex-wrap: wrap; /* Щоб елементи розташовувались на наступному рядку, якщо їх багато */
  gap: 10px; /* Відстань між елементами */
}

.language {
  background-color: #fff; /* Білий фон для кожної мови */
  border: 2px solid #000; /* Чорний ободок */
  padding: 10px 20px; /* Відступи всередині коробки */
  font-size: 8px; /* Розмір шрифту */
  width: auto; /* Ширина кожної коробки залежить від вмісту */
  min-width: 10px; /* Мінімальна ширина коробки */
}

