<section class="education">
  <div class="header-i">
    <i class="main-i bi bi-mortarboard"></i>
    <h2>EDUCATION</h2>
    <span class="triangle"></span>
  </div>
  <div class="row folding-content">
    <div class="col-md-6 education-item">
      <h3>Stanford University</h3>
      <p class="level">Master Degree Graduate</p>
      <p class="years">2011 - 2013</p>
    </div>
    <div class="col-md-6 education-item">
      <h3>University of Chicago</h3>
      <p class="level">Bachelor Degree Graduate</p>
      <p class="years">2007 - 2010</p>
    </div>
  </div>
</section>
