<!--<app-resume></app-resume>-->


<!--<nav class="nav-bar">-->
<!--  <div class="left">-->
<!--    <button (click)="onLogout()">Logout</button>-->
<!--  </div>-->
<!--  <div class="center">-->
<!--    <a routerLink="/login">Login</a>-->
<!--    <a routerLink="/register">Register</a>-->
<!--    <a routerLink="/resume">Resume</a>-->
<!--  </div>-->
<!--</nav>-->


<!--<nav class="nav-bar">-->
<!--  <div class="center">-->
<!--    <a routerLink="/login">Login</a>-->
<!--    <a routerLink="/register">Register</a>-->
<!--  </div>-->
<!--</nav>-->


<router-outlet></router-outlet>

