<section class="experience">
  <div class="header-i">
    <i class="main-i bi bi-briefcase-fill"></i>
    <h2>JOB EXPERIENCE</h2>
    <span class="triangle"></span>
  </div>
  <div class="folding-content">
    <div class="job">
      <h3 class="job-title d-flex justify-content-between align-items-center">
        Web Designer <span class="job-dates">2020 - Present</span>
      </h3>
      <p class="job-location">Creative Agency / Chicago</p>
      <p class="job-description">Lorem Ipsum has been the industry's standard dummy text ever since
        the 1500s, when an unknown printer took a galley of type.</p>
    </div>
    <div class="job">
      <h3 class="job-title d-flex justify-content-between align-items-center">
        Graphic Designer <span class="job-dates">2015 - 2020</span>
      </h3>
      <p class="job-location">Creative Market / Chicago</p>
      <p class="job-description">Lorem Ipsum has been the industry's standard dummy text ever since
        the 1500s, when an unknown printer took a galley of type.</p>
    </div>
    <div class="job">
      <h3 class="job-title d-flex justify-content-between align-items-center">
        Marketing Manager <span class="job-dates">2013 - 2015</span>
      </h3>
      <p class="job-location">Manufacturing Agency / NJ</p>
      <p class="job-description">Lorem Ipsum has been the industry's standard dummy text ever since
        the 1500s, when an unknown printer took a galley of type.</p>
    </div>
  </div>
</section>
