<div class="contact">
  <div class="contact-header">
    <i class="contact-header-i bi bi-person-fill"></i>
    <h2>CONTACT</h2>
  </div>
  <div class="contact-phone " *ngIf="isVisible">
    <i class="telephone-i bi bi-telephone-fill"></i>
    <div class="contact-text">
      <p *ngFor="let number of phoneNumbers">{{ number }}</p>
      <!--        <p *ngFor="let number of contactNumbers; let i = index">-->
      <!--          <span *ngIf="i === 1">{{ number }}</span>  -->
      <!--        </p>-->
    </div>
  </div>
  <div class="contact-globe">
    <i class="globe-i bi bi-globe"></i>
    <div class="contact-text">
<!--      <p><a href="http://www.yourwebsite.com" target="_blank">www.yourwebsite.com</a></p>-->
<!--      <p><a href="mailto: yourinfo@email.com">yourinfoemail.com</a></p>-->

      <p>{{ website }}</p>
      <p>{{ email }}</p>

    </div>
  </div>
  <div class="contact-map">
    <i class="map-i bi bi-geo-alt-fill"></i>
    <p > {{ address }}</p>
    <div class="contact-text">
<!--      <p>769 Prudence Street</p>-->
<!--      <p>Lincoln Park, MI 48146</p>-->

<!--      <p> {{ address }}</p>-->
    </div>
  </div>
</div>
