<section class="skills">
  <div class="header-i">
    <i class="main-i bi bi-tools"></i>
    <h2>SKILLS</h2>
    <span class="triangle"></span>
  </div>
  <div class="folding-content">
    <div class="progress-container">
      <p>Adobe Photoshop</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>Adobe Illustrator</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>Microsoft PowerPoint</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>Microsoft Word</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>HTML-S/CSS-3</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
  </div>


</section>
