:host {
  display: block; /* забезпечує, що компонент займає повний простір */
  padding: 70px; /* відступи всередині */
  background-color: darkcyan;
}


.horizontal-line {
  width: 100%;
  height: 2px; /* Товщина лінії */
  background-color: #333;
}

.main-left .horizontal-line {
  margin: 35px 0;
}

.main-right .horizontal-line {
  margin: 60px 0;
}

.main-left .horizontal-line:last-child {
  margin: 35px 0 0 0;
}

.main-right .horizontal-line:last-child {
  margin: 60px 0 0 0;
}
