<section class="about">
  <div class="header-i">
    <i class="main-i bi bi-person-fill"></i>
    <h2>ABOUT ME</h2>
    <span class="triangle"></span>
  </div>
  <div class="folding-content">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type.</p>
    <br>
    <p>It has survived not only five centuries, but the leap into electronic typesetting unchanged.</p>
  </div>

</section>

<div class="horizontal-line"></div>

<section class="skills">
  <div class="header-i">
    <i class="main-i bi bi-tools"></i>
    <h2>SKILLS</h2>
    <span class="triangle"></span>
  </div>
  <div class="folding-content">
    <div class="progress-container">
      <p>Adobe Photoshop</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>Adobe Illustrator</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>Microsoft PowerPoint</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>Microsoft Word</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>HTML-S/CSS-3</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
  </div>


</section>

<div class="horizontal-line"></div>

<section class="languages">
  <div class="header-i">
    <i class="main-i bi bi-globe"></i>
    <h2>LANGUAGES</h2>
    <span class="triangle"></span>
  </div>

  <div class="language-boxes folding-content">
    <div class="row">
      <div class="language col text-center border">English</div>
      <div class="language col text-center border" style="min-width: 100px;">Spanish</div>
      <div class="language col text-center border" style="min-width: 100px;">French</div>
    </div>
  </div>

</section>

<div class="horizontal-line"></div>

<section class="hobbies">

  <div class="header-i">
    <i class="main-i bi bi-puzzle"></i>
    <h2>HOBBIES</h2>
    <span class="triangle"></span>
  </div>

  <div class="folding-content">
    <div class="progress-container">
      <p>Book Reading</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>Traveling</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="progress-container">
      <p>Playing Chess</p>
      <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
  </div>

</section>

<div class="horizontal-line"></div>
