<section class="about">
  <div class="header-i">
    <i class="main-i bi bi-person-fill"></i>
    <h2>ABOUT ME</h2>
    <span class="triangle"></span>
  </div>
  <div class="folding-content">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
      of type.</p>
    <br>
    <p>It has survived not only five centuries, but the leap into electronic typesetting unchanged.</p>
  </div>

</section>

<div class="horizontal-line"></div>

<app-skills></app-skills>

<div class="horizontal-line"></div>

<app-languages></app-languages>

<div class="horizontal-line"></div>

<app-hobbies></app-hobbies>

<div class="horizontal-line"></div>
